<h1>Chale <small>Tournaments</small></h1>

<ul>
    <li ng-repeat="tournament in tournamentsVm.tournaments">
        <a href="#/tournaments/{{tournament.Id}}">{{tournament.Name}}</a>
    </li>
</ul>
<form name="createTournament" class="form">
    <label for="name" class="sr-only">Name</label>
    <input type="text" placeholder="Name..." name="name" ng-model="newTournament.Name" required maxlength="255">
    <label for="description" class="sr-only">Description</label>
    <textarea rows="3" placeholder="Description..." name="description" ng-model="newTournament.Description"></textarea>
    <div>
        <input type="submit" class="btn btn-default" ng-click="create()" value="Create" ng-disabled="createTournament.$invalid">
    </div>
</form>