@Master['layout']

@Section['Content']
<h2>Welcome To Chale's Open Tournaments!</h2>
<p>Todo: Fill In information</p>
<ul class="tournament-list">
    @Each.Tournaments
    <li>
        <h3>@Current.Name</h3>
        <p>@Current.Description</p>
        <ul class="tournament-stats">
            <li><span>Players</span> @Current.NumberOfPlayers</li>
            <li><span>Games</span> @Current.NumberOfGames</li>
        </ul>
    </li>
    @EndEach
</ul>
<a href="@Path['~/tournaments/create']" class="btn btn-default">Create Tournament</a>
@EndSection
