@Master['layout']

@Section['Content']
<h2>Welcome To Chale's Open Tournaments!</h2>
<p>Todo: Fill In information</p>
<ul class="tournament-list">
    @Each.Tournaments
    <li>
        <h3><a href="@Current.Uri">@Current.Name</a></h3>
        <p>@Current.Description</p>
        <ul class="tournament-stats">
            <li><span><a href="@Current.PlayersUri">Players</a></span> @Current.NumberOfPlayers</li>
            <li><span>Games</span> @Current.NumberOfGames</li>
        </ul>
        <form action="@Current.StartUri" method="post">
            <button type="submit" class="btn btn-default">Start Tournament</button>
        </form>
    </li>
    @EndEach
</ul>
<a href="@Model.CreateUri" class="btn btn-default">Create Tournament</a>
@EndSection
