@Master['layout']

@Section['Content']
<h2>Welcome To Chale!</h2>
<h3><a href="@Model.Href">@Model.Name</a></h3>
<p>@Model.Description</p>
<ul class="tournament-stats">
    <li><span>Players</span> @Model.NumberOfPlayers</li>
    <li><span>Games</span> @Model.NumberOfGames</li>
</ul>
<a href="@Model.PlayersHref" class="btn btn-default">Players</a>
<a href="@Model.GamesHref" class="btn btn-default">Games</a>
<a href="@Model.TournamentsHref" class="btn btn-default">Tournaments</a>
@EndSection