<!DOCTYPE html>
<html lang="en">
<head>
    <title>Medidata | Chale</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="@Path['~/content/css/bootstrap.min.css']" rel="Stylesheet" />
    <link href="@Path['~/content/css/bootstrap-responsive.min.css']" rel="Stylesheet" />
    <link href="@Path['~/content/css/default.min.css']" rel="Stylesheet" />

    <script src="@Path['~/content/scripts/shared.min.js']"></script>

    <script>
        $(document).ready(function () {
            hljs.tabReplace = '    ';
            hljs.initHighlightingOnLoad();
        });
    </script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    @Section['Css']
</head>
<body>
    @Section['Content']
    @Section['Scripts']
</body>
</html>
