@Master['layout']

@Section['Content']
<h2>Welcome To Chale!</h2>
<ul class="player-list">
    @Each.Players
    <li>
        <h3><a href="@Current.Href">@Current.Name</a></h3>
        <ul class="player-stats">
            <li><span>Won Games</span> @Current.NumberOfWonGames</li>
        </ul>
    </li>
    @EndEach
</ul>
@Each.Actions
<form action="@Current.Href" method="@Current.Method">
    <button type="submit" class="btn btn-default">@Current.Prompt</button>
</form>
@EndEach
@EndSection
